<div class="row" style="width: 580px;">
    <div class="col-12" style="width: 100%; background-color: lightgray; display: flex; padding: 10px; justify-content: space-evenly; align-items: center;">
        <div style="margin-right: 20px;"><a href="https://www.instagram.com/nottmystyle/"><p>Instagram</p></a></div>
        
        <div style="margin-left: 20px;"><a href="https://www.facebook.com/nottmystyle/"><p>Faceboook</p></a></div>
        {{!-- <i class="fa fa-car" style="font-size:40px; color: red;"></i> --}}
        {{!-- <i class="fa fa-facebook" aria-hidden="true"></i> --}}
    </div>
</div>